.wrapper.oh-hey
    - const upDog = dog.toUpperCase();
    p.hello Hello my dog's name is #{dog}!
    span#yo Yo!
    img.dog(src="dog.jpg" alt=`${dog}`)
    
    h2
        | Hello 
        em there
